@model SkinShop.ViewModel.Order.OrderViewModel

@{
    var sum = 0;
}
<div class="rowz">

</div>
<div class="container">
    <div>
        <strong>Bedankt voor u bestelling @Model.order.User.Name</strong><br />
    </div>

    <div>
        <h1>Factuur</h1><br />
        <strong>Gegevens:</strong><br />
        SkinShop <br />
        Eindhoven <br />
        0640982179<br />
    </div>
    <br />
    <div class="products">
        <div class="txt-heading">Order </div>


        <form method="post" asp-controller="Order" asp-action="PlaceOrder">


            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.order.Cart.Products)
                    {
                    <tr>
                        <td>
                            <label>@item.ProductID</label>
                            <input type="hidden" value="@item.ProductID" />

                        </td>

                        <td>
                            <label>@item.Productname</label>
                            <input type="hidden" value="@item.Productname" />

                        </td>

                        <td>
                            <input type="text" id="inputquantity" size="3" maxlength="2" value="@item.Amount" />
                        </td>

                        <td>
                            <label>@item.Productprice</label>
                            <input type="hidden" value="@item.Productprice" />
                        </td>

                        <td>
                            <label>@item.SubTotal</label>
                            <input type="hidden" value="@item.SubTotal" />
                        </td>
                    </tr>
                    }
                    <tr>

                        @foreach (var x in Model.order.Cart.Products)
                        {
                            sum = Convert.ToInt32(x.SubTotal) + sum;
                        }

                        <td colspan="6" align=right>
                            <strong>
                                Totale Kosten : @sum
                            </strong>
                        </td>
                    </tr>

                </tbody>

            </table>


            <div class="buttonBestel">
                <button type="submit" name="bestellen">Printen</button>
            </div>
        </form>
    </div>
</div>